#-------------------------------------------
# InvoiceShelf SQLite docker-compose variant
# Repo : https://github.com/InvoiceShelf/docker
#-------------------------------------------

services:
  webapp:
    image: invoiceshelf/invoiceshelf:nightly
    container_name: invoiceshelf
    volumes:
      - sqlite_data:/data
      - sqlite_conf:/conf
      - sqlite_storage:/var/www/html/storage
      - modules:/var/www/html/Modules/
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.invoiceshelf.entrypoints=websecure"
      - "traefik.http.routers.invoiceshelf.rule=Host(`invoice.cyberiumshadow.xyz`)"
      - "traefik.http.routers.invoiceshelf.tls=true"
      - "traefik.http.services.invoiceshelf.loadbalancer.server.port=8080"
      - "traefik.docker.network=traefik"
      - "flame.type=application" # "app" works too
      - "flame.name=InvoiceShelf"
      - "flame.url=https://invoice.cyberiumshadow.xyz"
    environment:
      - APP_NAME=InvoiceShelf
      - APP_ENV=production
      - APP_DEBUG=false
      - APP_URL=https://invoice.cyberiumshadow.xyz
      - DB_CONNECTION=sqlite
      - DB_DATABASE=/var/www/html/storage/app/database.sqlite # please don't touch this!
      - CACHE_STORE=file
      - SESSION_DRIVER=file
      - SESSION_LIFETIME=120
      - SESSION_ENCRYPT=false
      - SESSION_PATH=/
      - SESSION_DOMAIN=invoice.cyberiumshadow.xyz
      - SANCTUM_STATEFUL_DOMAINS=invoice.cyberiumshadow.xyz
      - STARTUP_DELAY=10
    restart: unless-stopped

networks:
  traefik:
    external: true

volumes:
  sqlite_storage:
  modules:
  sqlite_conf:
  sqlite_data:
  