services:
  #mrss-redis:
  #  container_name: mrss-redis-container
  #  restart: on-failure:5
  #  image: redis:alpine
    # Comment below to show redis logs
  #  logging:
  #    driver: none
  #  networks:
  #    rss-db:
      
  mrss-mongo:
    container_name: mrss-mongodb-container
    restart: unless-stopped
    command: mongod --port 27017
    # Comment below to show mongo logs
    # logging:
    #   driver: none
    image: mongodb-raspberrypi4-unofficial-r7.0.4
    pull_policy: never
    volumes:
      - 'db-data:/data/db'
    networks:
      rss-db:

  mrss-bot:
    container_name: mrss-bot-container
    restart: on-failure:3
    # The image can also be used
    image: cyberiumshadow/monitorss
    # build: .
    depends_on:
      - mrss-mongo
    env_file: .env.prod
    networks:
      rss-db:

#  mrss-web:
 #   container_name: mrss-web-container
    # The image can also be used
  #  image: cyberiumshadow/monitorss
    # build: .
#    restart: on-failure:3
#    depends_on:
#      - mrss-redis
#      - mrss-mongo
   # ports:
      #- "8081:8081"
 #   env_file: .env.prod
  #  labels:
#      - "traefik.enable=true"
#      - "traefik.http.routers.rss.entrypoints=websecure"
#      - "traefik.http.routers.rss.rule=Host(`rss.cyberiumshadow.xyz`)"
#      - "traefik.http.routers.rss.tls=true"
#      - "traefik.http.services.rss.loadbalancer.server.port=8081"
#      - "traefik.docker.network=traefik"
#      - "flame.type=application" # "app" works too
#      - "flame.name=RSSBot"
#      - "flame.url=https://rss.cyberiumshadow.xyz"
#    networks:
#      rss-db:
#      traefik:

volumes:
  db-data:

networks:
  rss-db:
    name: rss-db
    ipam:
      driver: default
      config:
        - subnet: "172.20.0.0/16"
  traefik:
    external: true
