services:
  traefik:
    # The official v2 Traefik docker image
    image: traefik:v2.11.36
    hostname: traefik
    container_name: traefik
    restart: unless-stopped
    # Enables the web UI and tells Traefik to listen to docker
    command: 
    - --log.level=DEBUG
    - --api.dashboard=true
    - --certificatesresolvers.le.acme.email=cyberiumdev@gmail.com
    - --certificatesresolvers.le.acme.caserver=https://acme-v02.api.letsencrypt.org/directory
    - --certificatesresolvers.le.acme.storage=/data/acme.json
    - --certificatesresolvers.le.acme.dnschallenge=true
    - --certificatesresolvers.le.acme.dnschallenge.provider=bunny
    - --entrypoints.web.address=:80
    - --entrypoints.websecure.address=:443
    - --entrypoints.web.http.redirections.entrypoint.to=websecure
    - --entrypoints.web.http.redirections.entrypoint.scheme=https
    - --providers.docker
    - --providers.docker.endpoint=tcp://dockerproxy:2375
    - --providers.docker.exposedbydefault=false
    - --providers.file.directory=/data
    - --providers.file.watch=true
    ports:
      # The HTTP port
      - "80:80"
      - "443:443"
      # The Web UI (enabled by --api.insecure=true)
      #- "8080:8080"
    env_file: .env
    volumes:
      - traefik:/data

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.rule=Host(`traefik.cyberiumshadow.xyz`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=le"
      - "traefik.http.routers.traefik.tls.domains[0].main=cyberiumshadow.xyz"
      - "traefik.http.routers.traefik.tls.domains[0].sans=*.cyberiumshadow.xyz"
      - "traefik.http.services.traefik.loadbalancer.server.port=443"
      - "traefik.docker.network=traefik"
    networks:
      traefik:
      docker-proxy:

networks:
  docker-proxy:
    external: true
  traefik:
    name: traefik
    ipam:
      driver: default
      config:
        - subnet: "172.16.0.0/16"

volumes:
  traefik:
